#logo
    fill: transparent
    stroke-width: 2

.n-image img
    width: 100%

h1, h2, h3, h4, h5
    text-transform: uppercase
    color: #36108B
    line-height: 1.15
p
    color: #333333
    font-weight: 500
    line-height: 1.25
a
    color: #36108B
